RESEND_API_KEY=re_replace_me
MAIL_FROM=AbschlussIO <io@abschluss-io.de>
MAIL_REPLY_TO=io@abschluss-io.de
CONTACT_EMAIL=io@abschluss-io.de
INTERNAL_SIGNUP_ALERT_EMAIL=io@abschluss-io.de
MONITORING_ALERT_EMAIL=io@abschluss-io.de
APP_BASE_URL=https://abschluss-io.de
NEXT_PUBLIC_APP_URL=https://abschluss-io.de
NEXT_PUBLIC_SITE_URL=https://abschluss-io.de
TRAINING_REMINDER_CRON_SECRET=mein-super-geheimes-passwort-123=
COPECART_IPN_ENABLED=true
COPECART_IPN_SECRET=9f3c8b2e6f1a4c7d9e0b2a6c8f4d1e3a7b9c0d2e5f6a8b1c3d4e5f6a7b8c9d0
COPECART_CANCEL_BLOCKS_IMMEDIATELY=true
COPECART_CRON_SECRET=c9a8f3e7b1d4a2c6e8f9b0d1c2a3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1
# TODO: REMOVE AFTER SUBSCRIPTION DEBUGGING
ALLOW_ALL_SUBSCRIPTIONS=false
