@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #707070;
  --th-blue: #0e51a0;
  --th-orange: #ea9413;
  --th-neutral: #707070;
  --th-font-heading: var(--font-rubik), sans-serif;
  --th-font-body: var(--font-roboto), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-th-blue: var(--th-blue);
  --color-th-orange: var(--th-orange);
  --color-th-neutral: var(--th-neutral);
  --font-sans: var(--th-font-body);
  --font-heading: var(--th-font-heading);
  --font-mono: "SFMono-Regular", "Consolas", "Liberation Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--th-font-body);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--th-font-heading);
  font-weight: 700;
}
